wandb/
debugs/
output/
samples/
__pycache__/
ossutil_output/
.ossutil_checkpoint/

test_epi/
test_homography/
test_pose/
test_bullet_time/
results/
scripts/
!scripts/animate.py
results*/

assets/reference_videos/
*.ipynb
*.safetensors
*.ckpt
.idea
# *.json
*.csv
# *.txt
temp_attention_mask_for_debug.pt
*.npy

rendering_visualizing_tools/
batch_vis_scripts/
probing_tools/
models/*
!models/StableDiffusion/
models/StableDiffusion/*
!models/StableDiffusion/*.txt
!models/Motion_Module/
!models/Motion_Module/*.txt
!models/DreamBooth_LoRA/
!models/DreamBooth_LoRA/*.txt
!models/MotionLoRA/
!models/MotionLoRA/*.txt
fid_workspace/